body {
    background-image: linear-gradient(90deg, #74c6e7, #44a8d1);
  }
  
  .loginCol {
    height: 96vh;
  }
  
  .loginContainer {
    height: max-content;
    width: 35em;
    margin-left: 15rem;
    margin-top: 15rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    padding: 2rem;
    background-color: white;
  }
  